version: '3.9'
services:
  db:
    image: postgres:15-alpine
    healthcheck:
      test: ["CMD_SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    container_name: portfolio_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: ./backend-website  
      dockerfile: Dockerfile
    container_name: website-api
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend-website        
      dockerfile: Dockerfile
    container_name: website-frontend
    restart: always
    ports:
      - "80:80"                 
    depends_on:
      - api


volumes:
  postgres_data: