version: '3.9'
services:
  db:
    image: postgres:15-alpine
    container_name: portfolio_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: ./backend-website  
      dockerfile: Dockerfile
    container_name: website-api
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend-website        
      dockerfile: Dockerfile
    container_name: website-frontend
    restart: always
    ports:
      - "8080:80"                 
    depends_on:
      - api

  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: always
    environment:
      
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_DATABASE=n8n_internal
      - DB_POSTGRESDB_HOST=db  
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_USER=${POSTGRES_USER}
      - DB_POSTGRESDB_PASSWORD=${POSTGRES_PASSWORD}
      
      
      - N8N_HOST=piyu.me
      - WEBHOOK_URL=https://piyu.me/n8n/
      - N8N_PATH=/n8n/
    volumes:
      - n8n_data:/home/node/.n8n
    ports:
      - "127.0.0.1:5678:5678"
    deploy:
      resources:
        limits:
          memory: 400M 
    depends_on:
      - db
  
  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: always
    ports:
      - '80:80'
      - '81:81' # This is the portal port
      - '443:443'
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    security_opt:
      - no-new-privileges:true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - portainer_data:/data
    ports:
      - "9443:9443"


volumes:
  postgres_data:
  n8n_data:
  portainer_data: